<template>
    <div>
        <h4>No User Found</h4>
    </div>
</template>

<script>
export default {
    name: 'NoResultCard'    
}
</script>
<style scoped>
*{
    overflow-y: hidden;
}
h4{
    color: #888888;
    text-align: center;
}
</style>

