<template>
    <li @mousemove="selectMe" @keydown="keyDownListener" ref="liCard">
        <h4>{{user.id}}</h4>
        <p class="user-name">{{user.name}}</p>
        <p class="user-address">{{user.address}}</p>
        <p class="user-address">{{user.pincode}}</p>
        <p v-if="isSearchInItems()" class="user-items">Items : {{user.items.join(", ")}}</p>
    </li>
</template>

<script>
export default {
    name: 'ResultCard',
    props: ['user','searchVal'],
    methods: {
        selectMe(){
            let liCard = this.$refs.liCard;
    
            if(liCard.classList.contains('selected')) return;
            else this.$emit('mouse-event-listener', liCard);
        },
        keyDownListener({keyCode}){
            if(keyCode === 40 || keyCode === 38) this.$emit('navigate-users', keyCode);
        },
        isSearchInItems(){
            return String(this.user.items).toLowerCase().includes(this.searchVal);
        }
    }
}
</script>

<style scoped>
*{
    color: #888888;
    margin: 0px;
}

li {
  border: 1px solid #ddd;
  margin-top: -1px;
  padding: 12px;
  text-decoration: none;
  text-align: left;
  color: black;
  display: block;
}

li.selected {
  cursor: pointer;  
  background-color: #FFFEDC;
} 

h4{
    text-transform: uppercase;
    color: #464444;
}

p.user-name{
    font-style: italic;
    font-weight: bold;
}

p.user-address{
    font-size: 0.75em;
}

p.user-items{
    border: 2px 0;
}

p.user-items::before{
   content: '';
   display: inline-block;
   width: 10px;
   height: 10px;
   -moz-border-radius: 7.5px;
   -webkit-border-radius: 7.5px;
   border-radius: 7.5px;
   background-color: #69b6d5;
   margin-right: 5px;
}
</style>

