<template>
    <div v-if="searchVal" class="result-section" :class="{'no-result': filteredUsers.length === 0}">
        <div v-if="filteredUsers.length">
            <ul>
                <ResultCard :user="user" :searchVal="searchVal" :key="user.id" 
                    v-for="user in filteredUsers"
                    @mouse-event-listener="mouseEventListener"
                    @navigate-users="navigateUsers"/>
            </ul>
        </div>
        <NoResultCard v-else/>
    </div>
</template>

<script>
import ResultCard from "./ResultCard.vue";
import NoResultCard from "./NoResultCard.vue";

export default {
    name: 'ResultSection',

    components: {
        ResultCard,
        NoResultCard
    },
    
    methods: {
        filterUsers(val){
            this.searchVal = val !== '' ? String(val).toLowerCase() : null;    
            this.filteredUsers = [];

            if(this.searchVal){
                this.filteredUsers = this.users.filter(eachUser => 
                    Object.values(eachUser).some(objVal => String(objVal).toLowerCase().includes(this.searchVal))
                );
            }
        },
        navigateUsers(keyCode){
            let selectedElem = document.querySelector(".result-section li.selected");

            if(selectedElem) {
                // Remove selected class                
                selectedElem.classList.remove("selected");

                if(keyCode === 40){
                    // DOWN - Add selected class to NEXT sibling
                    let nextElem = selectedElem.nextElementSibling;
                    if(nextElem) this.applySelectionAndScrollToView(nextElem);
                    else this.selectFirstResult();
                } else{
                    // UP - Add selected class to PREV sibling
                    let prevElem = selectedElem.previousElementSibling;
                    if(prevElem) this.applySelectionAndScrollToView(prevElem);
                    else this.selectLastResult();
                }
                
            } else {
                this.selectFirstResult();        
            }
        },
        mouseEventListener(elem){
            let selectedElem = document.querySelector(".result-section li.selected");

            if(selectedElem) {
                // Remove selected class                
                selectedElem.classList.remove("selected");
                elem.classList.add("selected");
            }
        },
        selectFirstResult(){
            let elem = document.querySelector(".result-section li");
            if(elem) this.applySelectionAndScrollToView(elem);
        },
        selectLastResult(){
            let elems = document.querySelectorAll(".result-section li");
            if(elems && elems.length) {
                let elem = elems[elems.length -1];
                this.applySelectionAndScrollToView(elem);
            }
        },
        applySelectionAndScrollToView(element){
            element.classList.add("selected");
            element.scrollIntoView({behavior: "smooth", block: "end", inline: "nearest"});
        }
    },

    updated() {
        console.log('Serach val changed');
        
        // Default selection
        this.selectFirstResult();
    },

    data(){
        return{
            searchVal: null,
            users: [
          {
            "id": "123-s2-546",
            "name": "John Jacobs",
            "items": ["bucket", "bottle"],
            "address": "1st Cross, 9th Main, abc Apartment",
            "pincode": "5xx012"
          },
          {
            "id": "123-s3-146",
            "name": "David Mire",
            "items": ["Bedroom Set"],
            "address": "2nd Cross, BTI Apartment",
            "pincode": "4xx012"
          },
          {
            "id": "223-a1-234",
            "name": "Soloman Marshall",
            "items": ["bottle"],
            "address": "Riverbed Apartment",
            "pincode": "4xx032"
          },
          {
            "id": "121-s2-111",
            "name": "Ricky Beno",
            "items": ["Mobile Set"],
            "address": "Sunshine City",
            "pincode": "5xx072"
          },
          {
            "id": "123-p2-246",
            "name": "Sikander Singh",
            "items": ["Air Conditioner"],
            "address": "Riverbed Apartment",
            "pincode": "4xx032"
          },
          {
            "id": "b23-s2-321",
            "name": "Ross Wheeler",
            "items": ["Mobile"],
            "address": "1st Cross, 9th Main, abc Apartement",
            "pincode": "5xx012"
          },
          {
            "id": "113-n2-563",
            "name": "Ben Bish",
            "items": ["Kitchen Set", "Chair"],
            "address": "Sunshine City",
            "pincode": "5xx072"
          },
          {
            "id": "323-s2-112",
            "name": "John Michael",
            "items": ["Refrigerator"],
            "address": "1st Cross, 9th Main, abc Apartement",
            "pincode": "5xx012"
          },
          {
            "id": "abc-34-122",
            "name": "Jason Jordan",
            "items": ["Mobile"],
            "address": "Riverbed Apartment",
            "pincode": "4xx032"
          }
      ],
      filteredUsers: []
        }
    }
}
</script>

<style scoped>
.result-section{
    max-height: 300px;
    overflow-y: scroll;
    width: 99.5%;
}

.result-section.no-result{
    overflow-y: hidden;
    border: 1px solid #ddd;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
    width: 6px;
}
 
::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.4);
    border-radius: 10px;
}
</style>


