<template>
    <div>
        <input type="search" :placeholder="searchPlaceholder" 
            @input="$emit('search-users', $event.target.value)" 
            @keydown="keyDownListener" autofocus>
    </div>
</template>

<script>
export default {
    name: 'SearchBox',
    data(){
        return{
            searchPlaceholder: 'Search anything...'
        }
    },
    methods: {
        keyDownListener({keyCode}){
            if(keyCode === 40 || keyCode === 38) this.$emit('navigate-users', keyCode);
        }
    }
}
</script>

<style scoped>
input[type=search]{
  background-image: url('../assets/images/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  width: 100%;
}
</style>

