<template>
  <div id="app">
    <SearchBox @search-users="searchUsers" @navigate-users="navigateUsers"/>
    <ResultsSection ref="resultSection"/>
  </div>
</template>

<script>
import SearchBox from './components/SearchBox';
import ResultsSection from './components/ResultsSection';

export default {
  name: 'app',
  components: {
    SearchBox,
    ResultsSection
  },
  methods: {
    searchUsers(val){
      /**
       * REASON for not passing val as a prop to child component,
       * we need to explicitly invoke filterUsers functions.
       */
      this.$refs.resultSection.filterUsers(val);
    },
    navigateUsers(keyCode){
      // TODO : This can be clubbed with searchUsers input eventlistener.
      this.$refs.resultSection.navigateUsers(keyCode);
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 500px;
}
</style>
